In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/heartattackprediction/raw_heart_attack_prediction_dataset.csv")

In [3]:
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [5]:
df.describe()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
count,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000
mean,53.707977,259.877211,75.021682,0.652288,0.492982,0.896839,0.501426,0.598083,10.014284,0.495835,0.498345,5.469702,5.993690,158263.181901,28.891446,417.677051,3.489672,7.023508,0.358211
std,21.249509,80.863276,20.550948,0.476271,0.499979,0.304186,0.500026,0.490313,5.783745,0.500011,0.500026,2.859622,3.466359,80575.190806,6.319181,223.748137,2.282687,1.988473,0.479502
min,18.000000,120.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002442,0.000000,0.000000,1.000000,0.001263,20062.000000,18.002337,30.000000,0.000000,4.000000,0.000000
25%,35.000000,192.000000,57.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.981579,0.000000,0.000000,3.000000,2.998794,88310.000000,23.422985,225.500000,2.000000,5.000000,0.000000
50%,54.000000,259.000000,75.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.069559,0.000000,0.000000,5.000000,5.933622,157866.000000,28.768999,417.000000,3.000000,7.000000,0.000000
75%,72.000000,330.000000,93.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.050018,1.000000,1.000000,8.000000,9.019124,227749.000000,34.324594,612.000000,5.000000,9.000000,1.000000
max,90.000000,400.000000,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.998709,1.000000,1.000000,10.000000,11.999313,299954.000000,39.997211,800.000000,7.000000,10.000000,1.000000

In [6]:
df.describe(include='O') # includes objects

,Patient ID,Sex,Blood Pressure,Diet,Country,Continent,Hemisphere
count,8763,8763,8763,8763,8763,8763,8763
unique,8763,2,3915,3,20,6,2
top,BMW7812,Male,101/93,Healthy,Germany,Asia,Northern Hemisphere
freq,1,6111,8,2960,477,2543,5660

In [7]:
# checking for missing values
df.isnull()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8759,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8760,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8761,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8762,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [11]:
df_cleaned = df.drop(['Patient ID', 'Family History', 'Diet', 'Medication Use', 'Income', 'Triglycerides', 'Country', 'Hemisphere'], axis=1)

In [12]:
df_cleaned

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
0,67,Male,208,158/88,72,0,1,0,0,4.168189,0,9,6.615001,31.251233,0,6,South America,0
1,21,Male,389,165/93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0
2,21,Female,324,174/99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0
3,84,Male,383,163/100,73,1,1,0,1,9.828130,1,9,7.648981,36.464704,3,4,North America,0
4,66,Male,318,91/88,93,1,1,1,0,5.804299,1,6,1.514821,21.809144,1,5,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0
8759,28,Female,120,157/102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0
8760,47,Male,250,161/75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1
8761,36,Male,178,119/67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0
8762,25,Female,356,138/67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1

In [13]:
df_cleaned = df_cleaned.rename(columns={'Sex': 'Gender'}) #Renaming the column sex to gender

In [14]:
df_cleaned

,Age,Gender,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
0,67,Male,208,158/88,72,0,1,0,0,4.168189,0,9,6.615001,31.251233,0,6,South America,0
1,21,Male,389,165/93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0
2,21,Female,324,174/99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0
3,84,Male,383,163/100,73,1,1,0,1,9.828130,1,9,7.648981,36.464704,3,4,North America,0
4,66,Male,318,91/88,93,1,1,1,0,5.804299,1,6,1.514821,21.809144,1,5,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0
8759,28,Female,120,157/102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0
8760,47,Male,250,161/75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1
8761,36,Male,178,119/67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0
8762,25,Female,356,138/67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1

In [15]:
# Spalte aufteilen
df_cleaned[['Blood Pressure systolic', 'Blood Pressure diastolic']] = df_cleaned['Blood Pressure'].str.split('/', expand=True)

# Optional: Werte in Integer umwandeln
df_cleaned['Blood Pressure systolic'] = df_cleaned['Blood Pressure systolic'].astype(int)
df_cleaned['Blood Pressure diastolic'] = df_cleaned['Blood Pressure diastolic'].astype(int)

df_cleaned

,Age,Gender,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk,Blood Pressure systolic,Blood Pressure diastolic
0,67,Male,208,158/88,72,0,1,0,0,4.168189,0,9,6.615001,31.251233,0,6,South America,0,158,88
1,21,Male,389,165/93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0,165,93
2,21,Female,324,174/99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0,174,99
3,84,Male,383,163/100,73,1,1,0,1,9.828130,1,9,7.648981,36.464704,3,4,North America,0,163,100
4,66,Male,318,91/88,93,1,1,1,0,5.804299,1,6,1.514821,21.809144,1,5,Asia,0,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0,94,76
8759,28,Female,120,157/102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0,157,102
8760,47,Male,250,161/75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1,161,75
8761,36,Male,178,119/67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0,119,67
8762,25,Female,356,138/67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1,138,67

In [16]:
# Schritt 1: Spaltenliste holen
cols = list(df_cleaned.columns)

# Schritt 2: Zielspalten entfernen, um sie später wieder einzufügen
cols.remove('Blood Pressure systolic')
cols.remove('Blood Pressure diastolic')

# Schritt 3: Neue Spalten an Position 8 und 9 einfügen
cols.insert(4, 'Blood Pressure systolic')
cols.insert(5, 'Blood Pressure diastolic')

# Schritt 4: DataFrame neu anordnen
df_cleaned = df_cleaned[cols]

In [17]:
df_cleaned

,Age,Gender,Cholesterol,Blood Pressure,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
0,67,Male,208,158/88,158,88,72,0,1,0,0,4.168189,0,9,6.615001,31.251233,0,6,South America,0
1,21,Male,389,165/93,165,93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0
2,21,Female,324,174/99,174,99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0
3,84,Male,383,163/100,163,100,73,1,1,0,1,9.828130,1,9,7.648981,36.464704,3,4,North America,0
4,66,Male,318,91/88,91,88,93,1,1,1,0,5.804299,1,6,1.514821,21.809144,1,5,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,94,76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0
8759,28,Female,120,157/102,157,102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0
8760,47,Male,250,161/75,161,75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1
8761,36,Male,178,119/67,119,67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0
8762,25,Female,356,138/67,138,67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1

In [18]:
df_cleaned = df_cleaned.drop(columns=['Blood Pressure'])

In [19]:
df_cleaned

,Age,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
0,67,Male,208,158,88,72,0,1,0,0,4.168189,0,9,6.615001,31.251233,0,6,South America,0
1,21,Male,389,165,93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0
2,21,Female,324,174,99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0
3,84,Male,383,163,100,73,1,1,0,1,9.828130,1,9,7.648981,36.464704,3,4,North America,0
4,66,Male,318,91,88,93,1,1,1,0,5.804299,1,6,1.514821,21.809144,1,5,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94,76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0
8759,28,Female,120,157,102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0
8760,47,Male,250,161,75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1
8761,36,Male,178,119,67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0
8762,25,Female,356,138,67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1

In [20]:
#df_cleaned = df_cleaned[['Age', 'Gender', 'Continent', 'Heart Rate', 'Blood Pressure systolic', 'Blood Pressure diastolic', 'Previous Heart Problems', 'Heart Attack Risk', 'Cholesterol', 'Stress Level', 'Diabetes', 'Smoking', 'Obesity', 'Alcohol Consumption', 'Exercise Hours Per Week', 'Sedentary Hours Per Day', 'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'BMI']]

In [21]:
data_gender_female = df_cleaned[df_cleaned['Gender'] == 'Female']
data_gender_male = df_cleaned[df_cleaned['Gender'] == 'Male']

In [22]:
data_gender_male

,Age,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
0,67,Male,208,158,88,72,0,1,0,0,4.168189,0,9,6.615001,31.251233,0,6,South America,0
1,21,Male,389,165,93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0
3,84,Male,383,163,100,73,1,1,0,1,9.828130,1,9,7.648981,36.464704,3,4,North America,0
4,66,Male,318,91,88,93,1,1,1,0,5.804299,1,6,1.514821,21.809144,1,5,Asia,0
6,90,Male,358,102,73,84,0,1,0,1,4.098177,0,7,0.627356,28.885811,4,10,North America,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,25,Male,307,137,94,78,0,1,0,1,3.272202,0,3,10.516775,33.469360,7,5,Europe,0
8756,22,Male,347,115,87,108,0,1,0,1,3.820772,1,1,6.786750,20.295054,2,9,North America,1
8758,60,Male,121,94,76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0
8760,47,Male,250,161,75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1
8761,36,Male,178,119,67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0

In [23]:
data_gender_female

,Age,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
2,21,Female,324,174,99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0
5,54,Female,297,172,86,48,1,1,0,1,0.625008,1,2,7.798752,20.146840,5,10,Europe,1
9,43,Female,248,160,70,55,0,1,1,1,0.194515,0,4,4.055115,22.558917,7,7,Asia,0
10,73,Female,373,107,69,97,1,1,0,1,16.841988,1,8,8.919879,22.867911,0,4,Africa,0
18,50,Female,303,120,100,104,1,1,0,1,4.943580,1,1,7.586984,25.964351,1,5,North America,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8750,34,Female,304,102,92,93,0,0,1,1,6.658321,0,10,6.900037,22.418494,4,5,Asia,0
8754,80,Female,383,153,96,91,1,1,0,1,6.082656,1,3,8.234883,20.490450,3,4,South America,1
8757,59,Female,378,93,78,99,0,1,1,0,1.857908,0,4,7.495231,39.976061,1,9,Asia,0
8759,28,Female,120,157,102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0
8762,25,Female,356,138,67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1

In [24]:
#Create new column with age group
bins = [20, 35, 50, 65]
labels = ['Young Adult', 'Adult', 'Senior']


# Neue Spalte 'age_group' hinzufügen
data_gender_female['Age_group'] = pd.cut(data_gender_female['Age'], bins=bins, labels=labels)
data_gender_male['Age_group'] = pd.cut(data_gender_male['Age'], bins=bins, labels=labels)

C:\Users\Graceffa\AppData\Local\Temp\ipykernel_2568\2024659072.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_female['Age_group'] = pd.cut(data_gender_female['Age'], bins=bins, labels=labels)
C:\Users\Graceffa\AppData\Local\Temp\ipykernel_2568\2024659072.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_male['Age_group'] = pd.cut(data_gender_male['Age'], bins=bins, labels=labels)

In [25]:
data_gender_female

,Age,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk,Age_group
2,21,Female,324,174,99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0,Young Adult
5,54,Female,297,172,86,48,1,1,0,1,0.625008,1,2,7.798752,20.146840,5,10,Europe,1,Senior
9,43,Female,248,160,70,55,0,1,1,1,0.194515,0,4,4.055115,22.558917,7,7,Asia,0,Adult
10,73,Female,373,107,69,97,1,1,0,1,16.841988,1,8,8.919879,22.867911,0,4,Africa,0,NaN
18,50,Female,303,120,100,104,1,1,0,1,4.943580,1,1,7.586984,25.964351,1,5,North America,1,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8750,34,Female,304,102,92,93,0,0,1,1,6.658321,0,10,6.900037,22.418494,4,5,Asia,0,Young Adult
8754,80,Female,383,153,96,91,1,1,0,1,6.082656,1,3,8.234883,20.490450,3,4,South America,1,NaN
8757,59,Female,378,93,78,99,0,1,1,0,1.857908,0,4,7.495231,39.976061,1,9,Asia,0,Senior
8759,28,Female,120,157,102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0,Young Adult
8762,25,Female,356,138,67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1,Young Adult

In [26]:
#Sort age group after "age"
cols = list(data_gender_female.columns)
cols.insert(1, cols.pop(cols.index('Age_group')))
data_gender_female = data_gender_female[cols]

In [27]:
#Sort age group after "age"
cols = list(data_gender_male.columns)
cols.insert(1, cols.pop(cols.index('Age_group')))
data_gender_male = data_gender_male[cols]

In [28]:
#delete all NaN values
data_gender_female_corrected = data_gender_female.dropna(subset=['Age_group'])
data_gender_male_corrected = data_gender_male.dropna(subset=['Age_group'])

In [29]:
data_gender_female_corrected

,Age,Age_group,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
2,21,Young Adult,Female,324,174,99,72,1,0,0,0,2.078353,1,9,9.463426,28.176571,4,4,Europe,0
5,54,Senior,Female,297,172,86,48,1,1,0,1,0.625008,1,2,7.798752,20.146840,5,10,Europe,1
9,43,Adult,Female,248,160,70,55,0,1,1,1,0.194515,0,4,4.055115,22.558917,7,7,Asia,0
18,50,Adult,Female,303,120,100,104,1,1,0,1,4.943580,1,1,7.586984,25.964351,1,5,North America,1
30,27,Young Adult,Female,135,120,77,49,1,0,0,1,16.910485,0,6,9.120329,22.778859,1,10,South America,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8746,62,Senior,Female,263,105,98,62,0,1,1,0,5.701827,1,6,0.837964,37.364408,3,5,South America,1
8750,34,Young Adult,Female,304,102,92,93,0,0,1,1,6.658321,0,10,6.900037,22.418494,4,5,Asia,0
8757,59,Senior,Female,378,93,78,99,0,1,1,0,1.857908,0,4,7.495231,39.976061,1,9,Asia,0
8759,28,Young Adult,Female,120,157,102,73,1,0,1,0,16.558426,0,8,3.833038,23.993866,4,9,North America,0
8762,25,Young Adult,Female,356,138,67,75,1,0,0,1,18.081748,0,8,9.005234,32.914151,7,4,Europe,1

In [30]:
data_gender_male_corrected

,Age,Age_group,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
1,21,Young Adult,Male,389,165,93,98,1,1,1,1,1.813242,1,1,4.963459,27.194973,1,7,North America,0
13,60,Senior,Male,259,169,72,85,1,1,0,1,17.037374,1,1,8.727417,25.564897,1,4,Asia,1
17,38,Adult,Male,166,120,74,56,1,1,1,0,8.917907,0,9,3.660749,29.517388,0,6,Asia,0
19,60,Senior,Male,145,160,98,71,1,1,0,1,1.892559,1,8,5.994228,29.162319,7,7,North America,0
21,45,Adult,Male,294,130,84,66,0,1,1,1,13.693785,0,9,7.007392,25.120605,4,6,Europe,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,25,Young Adult,Male,307,137,94,78,0,1,0,1,3.272202,0,3,10.516775,33.469360,7,5,Europe,0
8756,22,Young Adult,Male,347,115,87,108,0,1,0,1,3.820772,1,1,6.786750,20.295054,2,9,North America,1
8758,60,Senior,Male,121,94,76,61,1,1,0,1,7.917342,1,8,10.806373,19.655895,7,7,Asia,0
8760,47,Adult,Male,250,161,75,105,0,1,1,1,3.148438,1,5,2.375214,35.406146,4,4,South America,1
8761,36,Adult,Male,178,119,67,60,1,1,0,0,3.789950,1,5,0.029104,27.294020,2,8,South America,0

In [31]:
data_gender_male_corrected.isna().sum()

Age                                0
Age_group                          0
Gender                             0
Cholesterol                        0
Blood Pressure systolic            0
Blood Pressure diastolic           0
Heart Rate                         0
Diabetes                           0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Previous Heart Problems            0
Stress Level                       0
Sedentary Hours Per Day            0
BMI                                0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Continent                          0
Heart Attack Risk                  0
dtype: int64

In [32]:
#Spalten runden
data_gender_male_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']] = data_gender_male_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']].round(2)
data_gender_female_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']] = data_gender_female_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']].round(2)

C:\Users\Graceffa\AppData\Local\Temp\ipykernel_2568\4245453094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_male_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']] = data_gender_male_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']].round(2)
C:\Users\Graceffa\AppData\Local\Temp\ipykernel_2568\4245453094.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_gender_female_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']] = data_gender_female_corrected[['Exercise Hours Per Week', 'Sedentary Hours Per Day', 'BMI']].round(2)

In [33]:
data_gender_female_corrected.to_csv('data/heartattackprediction/data_heartattackprediction_female_cleaned.csv', index=False)
data_gender_male_corrected.to_csv('data/heartattackprediction/data_heartattackprediction_male_cleaned.csv', index=False)

In [34]:
data_gender_female_corrected

,Age,Age_group,Gender,Cholesterol,Blood Pressure systolic,Blood Pressure diastolic,Heart Rate,Diabetes,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Heart Attack Risk
2,21,Young Adult,Female,324,174,99,72,1,0,0,0,2.08,1,9,9.46,28.18,4,4,Europe,0
5,54,Senior,Female,297,172,86,48,1,1,0,1,0.63,1,2,7.80,20.15,5,10,Europe,1
9,43,Adult,Female,248,160,70,55,0,1,1,1,0.19,0,4,4.06,22.56,7,7,Asia,0
18,50,Adult,Female,303,120,100,104,1,1,0,1,4.94,1,1,7.59,25.96,1,5,North America,1
30,27,Young Adult,Female,135,120,77,49,1,0,0,1,16.91,0,6,9.12,22.78,1,10,South America,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8746,62,Senior,Female,263,105,98,62,0,1,1,0,5.70,1,6,0.84,37.36,3,5,South America,1
8750,34,Young Adult,Female,304,102,92,93,0,0,1,1,6.66,0,10,6.90,22.42,4,5,Asia,0
8757,59,Senior,Female,378,93,78,99,0,1,1,0,1.86,0,4,7.50,39.98,1,9,Asia,0
8759,28,Young Adult,Female,120,157,102,73,1,0,1,0,16.56,0,8,3.83,23.99,4,9,North America,0
8762,25,Young Adult,Female,356,138,67,75,1,0,0,1,18.08,0,8,9.01,32.91,7,4,Europe,1